$footer-height: 440px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
  background-color: #eeeeee;
}

.ng-toast__list {
	list-style: none;
}

li.ng-toast__message:first-letter {
    text-transform: capitalize;
}