<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<div style="padding: 20px; margin-bottom: 25px; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			<img src="{{selectedUser.photo? selectedUser.photo.path.split('/')[1] : '/users/client/assets/images/default-user-photo.png'}}" style="width: 100%; padding: 15px;">
			<h3 style="margin-bottom: 3px;">{{selectedUser.name.first + " " + selectedUser.name.last}}</h3>
			<p style="color: gray;">{{selectedUser.email}}</p>
			<h4 style="margin-top:20px;"><span style="font-weight: normal;" class="label label-primary">{{selectedUser.isAdmin? 'Site Administrator' : 'Regular User'}}</span></h4>
		</div>

		<div style="padding: 20px; margin-bottom: 25px; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

			<h4>Personal Information</h4><hr />

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Country</p>
			  	<h5>{{selectedUser.country}}</h5>
			</div>

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Location</p>
			  	<h5>{{selectedUser.location}}</h5>
			</div>

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Sex</p>
			  	<h5>{{selectedUser.sex}}</h5>
			</div>

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Birthdate</p>
			  	<h5>{{selectedUser.birthdate}}</h5>
			</div>

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Contact Number</p>
			  	<h5>{{selectedUser.contactNumber? selectedUser.contactNumber : 'N/A'}}</h5>
			</div>

			<div style="margin-bottom: 20px;">
				<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">About</p>
			  	<span ng-if="selectedUser.about">
				  	<p style="white-space: pre-wrap;" ng-style="selectedUser.about.length > DESCRIPTION_LIMIT? {'margin-bottom': '0px'} : {'margin-bottom': '25px'}"><span ng-bind-html="selectedUser.about | parseURL | emoji | limitTo: descriptionSize"></span><span ng-if="selectedUser.about.length > descriptionSize">...</span></p>
	  				<span ng-if="selectedUser.about.length > DESCRIPTION_LIMIT" style="margin-bottom: 25px; display: block;"><a href="#/" ng-click="toggleUserDescription()">{{readUserDescription}}</a></span>
	  			</span>
	  			<span ng-if="!selectedUser.about">N/A</span>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div id="view-posts" class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0.5%;"><h3 style="margin-top: 20px; padding-left: 10px;">{{user.currentUser && user.currentUser._id === selectedUser._id? "My" : selectedUser.name.first + "'s"}} Public Posts</h3><hr />
			<div class="row" style="margin: 1% 0px; padding: 0 10px;">
			  <posts-filter-panel></posts-filter-panel>
			</div>
		</div>
		<view-posts></view-posts>
	</div>


	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<div ng-if="user.currentUser && (user.currentUser._id === selectedUser._id || user.currentUser.isAdmin)" class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		  <h4>Manage {{user.currentUser && user.currentUser._id === selectedUser._id? "My" : selectedUser.name.first + "'s"}} Profile</h4><hr />
		  <div>
		    <button ui-sref="edit-user({userID: selectedUser._id})" title="Edit User Info" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Edit</button>
		    <!-- <button title="Change User Settings" type="button" class="btn btn-primary"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Settings</button> -->
		  </div>
		</div>

		<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		  <h4>{{user.currentUser && user.currentUser._id === selectedUser._id? "My" : selectedUser.name.first + "'s"}} Administered Group<span ng-if="userAdminGroups.length > 1">s</span> ({{userAdminGroups.length}})</h4><hr />
		  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
		    <ul class="list-group">

		      <li ng-repeat="userAdminGroup in userAdminGroups | orderBy: 'name'" class="list-group-item">
	      		<a ui-sref="oneGroup({handle: userAdminGroup.handle})"><img src="{{userAdminGroup.photo? userAdminGroup.photo.path.split('/')[1] : '/groups/client/assets/images/default-group-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{userAdminGroup.name}}</a>
		      </li>

		    </ul>
			</div>
		</div>

		<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		  <h4>{{user.currentUser && user.currentUser._id === selectedUser._id? "My" : selectedUser.name.first + "'s"}} Group<span ng-if="userGroups.length > 1">s</span> ({{userGroups.length}})</h4><hr />
		  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
		    <ul class="list-group">

		      <li ng-repeat="userGroup in userGroups | orderBy: 'name'" class="list-group-item">
	      		<a ui-sref="oneGroup({handle: userGroup.handle})"><img src="{{userGroup.photo? userGroup.photo.path.split('/')[1] : '/groups/client/assets/images/default-group-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{userGroup.name}}</a>
		      </li>

		    </ul>
			</div>
		</div>

		<div ng-if="user.currentUser && (user.currentUser._id === selectedUser._id || user.currentUser.isAdmin)" class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		  <h4>{{user.currentUser && user.currentUser._id === selectedUser._id? "My" : selectedUser.name.first + "'s"}} Pending Group<span ng-if="userPendingGroups.length > 1">s</span> ({{userPendingGroups.length}})</h4><hr />
		  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
		    <ul class="list-group">

		      <li ng-repeat="userPendingGroup in userPendingGroups | orderBy: 'name'" class="list-group-item">
	      		<a ui-sref="oneGroup({handle: userPendingGroup.handle})"><img src="{{userPendingGroup.photo? userPendingGroup.photo.path.split('/')[1] : '/groups/client/assets/images/default-group-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{userPendingGroup.name}}</a>
		      </li>

		    </ul>
			</div>
		</div>
	</div>
</div>