<div ng-if="!adminRegistration.allow" style="width: 50%; padding: 1.5%; background-color: white; margin: 1% auto; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

	<div style="margin-bottom: 1%;">
		<h3 style="margin: 0;"><i class="fa fa-user-plus" aria-hidden="true"></i> Create an Administrator Account </h3>
	</div>
	<hr />
	
	<form style="padding: 1% 2% 2% 2%; text-align: left;" ng-submit="validateAdminRegistration()">
		<div class="form-group">
		    <label>Enter Admin Registration Access Key</label>
		    <input type="password" class="form-control" placeholder="Enter access key" ng-model="adminRegistration.enteredAccessKey" required />
		</div>

		<button type="submit" class="btn btn-success">Enter</button>
	</form>
</div>

<div ng-show="adminRegistration.allow">
	<user-registration></user-registration>
</div>