<div style="padding: 1.5%; background-color: white; margin: 2% 1% 2%; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<div style="margin-bottom: 1%;">
			<h3 style="margin: 0;"><i class="fa fa-plus" aria-hidden="true"></i> Create a Group</h3>
		</div>
		<hr />
		<form style="padding: 1% 2% 2% 2%; text-align: left;" ng-submit="">

		  <div class="form-group">
		    <label>Choose Group Classification <span style="color:red;">*</span> <span style="font-style: italic;"> (Industry, Sector, ISP, Specific Commodity)</span></label>
		    <select ng-options="groupClassification.industry + ' -> ' + groupClassification.sector +' -> '+ groupClassification.isp +  groupClassification.specificCommodity.replace(groupClassification.specificCommodity, ' -> ' + groupClassification.specificCommodity) for groupClassification in groupClassifications.contents | orderBy: ['industry','sector', 'isp', 'specificCommodity']" class="form-control" ng-model="addGroupFormData.classification" ng-change="generateGroupNameAndHandle(addGroupFormData.classification)" required>
		    	<option value="">---Select Group Classification---</option>
		    </select>
		  </div>

		  <div class="form-group">
		    <label>Group Name</label>
		    <input type="text" class="form-control" placeholder="---Generated Group Name Here---" ng-model="addGroupFormData.name" required readonly />
		  </div>

		  <div class="form-group">
		    <label>Group Handle</label>
		    <div class="input-group">
			    <span class="input-group-addon">@</span>
			    <input type="text" class="form-control" placeholder="---Generated Group Handle Here---" ng-model="addGroupFormData.handle" required readonly />
		    </div>
		  </div>

		  <div class="form-group">
		    <label>Description <span style="color:red;">*</span></label>
		    <textarea class="form-control" style="resize: vertical;" rows="3" placeholder="Enter the group description" ng-model="addGroupFormData.description" required></textarea>
		  </div>


		  <shared-form-legends></shared-form-legends>

		  <shared-reset-submit-buttons></shared-reset-submit-buttons>
		</form>
</div>