<div>
  <div class="row">
    <img src="/groups/client/assets/images/744849-banana-wallpaper.jpg" class="group-photo" />
  </div>
  <hr />
  <div class="row group-header">
    <div class="col-xs-12 col-sm-4 " style="padding-top: 1%;" >
      <img src="/groups/client/assets/images/Fruit_02.png" class="group-header__icon" />
      <a ui-sref="bananaGroup.vPosts.addPost-ads" style="color: #333333;"><h2 style="padding-left: 4%; display: inline-block; font-weight:bold;">Banana</h2></a>
      <div style="padding-top:3%">
      <a href="#"  style="color: #333333;"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
       <a href="#"  style="color: #333333;"><i style="padding-left: 4%" class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
       </div>
    </div>

    <div class="col-xs-12 col-sm-5 group-header--align__name" style="text-align: justify;">
     <p> Welcome to Banana Group! <br/> <br/>Our goal is to engage banana lovers to appreciate bananas even more. We post banana images and videos on a daily basis. We love this community so much. I hope you will enjoy reading helpful posts here. Finally, I wish people will become more informed about the benefits of bananas in our lives. Thank you! </p>
    </div> 

    <div class="col-xs-12 col-sm-3 group-header__actions">
      <button type="button" class="btn btn-danger"> Leave Group </button>
    </div>
  </div>
  <hr />


  <div class="view-ads">
    <div class="row view-ads__list">

      <div class="col-xs-12 col-sm-8">
        <div ui-view></div>
      </div>


      <div class="col-xs-12 col-sm-4">
        <div class="post-ads" style="margin:0 0 4% 0; background-color: #eeeeee; border-radius: 8px; padding: 5%;">
            <h3 style="margin-bottom:4%; ">Members</h3>
            <div style="margin: auto; height: 400px; overflow-y: scroll;">
              <div class="list-group">
                <a href="#" class="list-group-item"><img src="/layout/client/assets/images/john-cena-562300-1-402.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> John Felix Cena</a>
                <a href="#" class="list-group-item"><img src="/layout/client/assets/images/john-cena-562300-1-402.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> John Felix Cena</a>
                <a href="#" class="list-group-item"><img src="/layout/client/assets/images/john-cena-562300-1-402.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> John Felix Cena</a>
                <a href="#" class="list-group-item"><img src="/layout/client/assets/images/john-cena-562300-1-402.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> John Felix Cena</a>
              </div>
            </div>
        </div>

        <div class="post-ads" style="margin:2% 0; background-color: #eeeeee; border-radius: 8px; padding: 5%;">
            <h3 style="margin-bottom:4%;">Statistics</h3>
            <h4 style="padding:5% 0;">Members</h4>
            <h5><i class="fa fa-users fa-lg" aria-hidden="true"></i> 123 Total Members</h5>
            <h5><i class="fa fa-mars fa-lg" aria-hidden="true"></i> 76 Males</h5>
            <h5><i class="fa fa-venus fa-lg" aria-hidden="true"></i> 47 Females</h5>

            <h4 style="padding:5% 0;">Posts</h4>
            <h5><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i> 161 Total Posts</h5>
            <h5><i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i> 21 Advertisements</h5>
            <h5><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> 18 News</h5>
            <h5><i class="fa fa-bug fa-lg" aria-hidden="true"></i> 33 Incident Reports</h5>
            <h5><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> 28 Questions</h5>
            <h5><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> 10 Events</h5>
            <h5><i class="fa fa-file fa-lg" aria-hidden="true"></i> 14 Media Resources</h5>
            <h5><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> 37 Others</h5>
        </div>

        
      </div>

    </div>
  </div>



<!--   <div class="group-tabs">

    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{active: activeTab === groupTab.name}" ng-click="setActiveTab(groupTab.name)" ng-repeat="groupTab in groupTabs"><a ui-sref="{{groupTab.state}}">{{groupTab.name}}</a></li>
    </ul>

    <div class="tab-content group-tabs__content">

        <div ui-view></div>
      <div id="viewMembers" class="tab-pane fade">
        <h3>Members</h3>
        <p>Some content.</p>
      </div>

      
  </div> -->
</div>