<div class="container">
  <div class="row">
    <img src="/groups/client/assets/images/744849-banana-wallpaper.jpg" class="group-photo" />
  </div>
  <hr />
  <div class="row group-header">
    <div class="col-xs-12 col-sm-4">
      <img src="/groups/client/assets/images/Fruit_02.png" width="85" height="85" class="group-header__icon" />
    </div>

    <div class="col-xs-12 col-sm-4 group-header--align__name">
      <h1 class="">Banana</h1>
    </div> 

    <div class="col-xs-12 col-sm-4 group-header__actions">
      <button type="button" class="btn btn-info"> Edit Group </button>
      <button type="button" class="btn btn-danger"> Leave Group </button>
    </div>
  </div>
  <hr />
  <div class="group-tabs">

    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{active: activeTab === groupTab.name}" ng-click="setActiveTab(groupTab.name)" ng-repeat="groupTab in groupTabs"><a ui-sref="{{groupTab.state}}">{{groupTab.name}}</a></li>
    </ul>

    <div class="tab-content group-tabs__content">

        <div ui-view></div>
<!--       <div id="viewMembers" class="tab-pane fade">
        <h3>Members</h3>
        <p>Some content.</p>
      </div>
 -->
      
  </div>
</div>