<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h4>Administrator<span ng-if="selectedGroup.admin.length > 1">s</span> ({{groupAdmins.length}})</h4><hr />
  <div style="margin: auto; max-height: 200px; overflow-y: auto;">
    <ul class="list-group">

      <li ng-repeat="admin in groupAdmins | orderBy: ['name.first', 'name.last']" class="list-group-item">
      	<div class="row">
	      	<div class="col-xs-10 col-sm-10">
	      		<a ui-sref="user-profile({userID: admin._id})"><img src="{{admin.photo? admin.photo.path.split('/')[1] : '/users/client/assets/images/default-user-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{admin.name.first + ' ' + admin.name.last}}</a>
	      	</div>
	      	<div class="col-xs-2 col-sm-2">
	      		<button title="Remove Admin" type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>
	      	</div>
      	</div>
      </li>

    </ul>
	</div>
</div>

<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h4>Member<span ng-if="selectedGroup.membersCount > 1">s</span> ({{groupMembers.length}})</h4><hr />
  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
    <ul class="list-group">

      <li ng-repeat="member in groupMembers | orderBy: ['name.first', 'name.last']" class="list-group-item">
      	<div class="row">
	      	<div class="col-xs-10 col-sm-10">
	      		<a ui-sref="user-profile({userID: member._id})"><img src="{{member.photo? member.photo.path.split('/')[1] : '/users/client/assets/images/default-user-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{member.name.first + ' ' + member.name.last}}</a>
	      	</div>
	      	<div class="col-xs-2 col-sm-2">
	      		<button title="Remove Member" type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>
	      	</div>
      	</div>
      </li>

    </ul>
	</div>
</div>

