<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h4>Administrator<span ng-if="groupAdmins.length > 1">s</span> ({{groupAdmins.length}})</h4><hr />
  <div style="margin: auto; max-height: 200px; overflow-y: auto;">
    <ul class="list-group">

      <li ng-repeat="admin in groupAdmins | orderBy: ['name.first', 'name.last']" class="list-group-item">
      	<div class="row">
	      	<div class="col-xs-10 col-sm-10">
	      		<a ui-sref="user-profile({userID: admin._id})"><img src="{{admin.photo? admin.photo.path.split('/')[1] : '/users/client/assets/images/default-user-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{admin.name.first + ' ' + admin.name.last}}</a>
	      	</div>
	      	<div ng-if="user.currentUser && selectedGroup.admin.indexOf(user.currentUser._id) > -1" class="col-xs-2 col-sm-2">
	      		<button title="Remove Admin Role" type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#{{'removeAdmin' + admin._id}}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>

	      		<div class="modal fade" id="{{'removeAdmin' + admin._id}}" tabindex="-1" role="dialog">
		          <div class="modal-dialog" role="document">
		            <div class="modal-content">
		              <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">Remove Admin Role</h4>
		              </div>
		              <div class="modal-body">
		                <p>Are you sure you want to remove this member's admin role?</p>
		              </div>
		              <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button type="button" class="btn btn-danger" ng-click="removeAdmin(admin._id, selectedGroup.handle)" data-dismiss="modal">Remove Admin Role</button>
		              </div>
		            </div>
		          </div>
		        </div>
	      	</div>
      	</div>
      </li>

    </ul>
	</div>
</div>

<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h4>Member<span ng-if="groupMembers.length > 1">s</span> ({{groupMembers.length}})</h4><hr />
  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
    <ul class="list-group">

      <li ng-repeat="member in groupMembers | orderBy: ['name.first', 'name.last']" class="list-group-item">
      	<div class="row">
	      	<div class="col-xs-10 col-sm-10">
	      		<a ui-sref="user-profile({userID: member._id})"><img src="{{member.photo? member.photo.path.split('/')[1] : '/users/client/assets/images/default-user-photo.png'}}" alt="Pic" style="width: 18%; border-radius: 8%; margin-right: 0.5em;" />{{member.name.first + ' ' + member.name.last}}</a>
	      	</div>
	      	<div ng-if="user.currentUser && selectedGroup.admin.indexOf(user.currentUser._id) > -1" class="col-xs-2 col-sm-2">
	      		<button title="Remove Member" type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#{{'removeMember' + member._id}}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>

	      		<div class="modal fade" id="{{'removeMember' + member._id}}" tabindex="-1" role="dialog">
		          <div class="modal-dialog" role="document">
		            <div class="modal-content">
		              <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">Remove Member</h4>
		              </div>
		              <div class="modal-body">
		              	<p ng-if="selectedGroup.admin.indexOf(member._id) > -1">Warning: This will also remove the member as group administrator.</p>
		                <p>Are you sure you want to remove this member?</p>
		              </div>
		              <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                <button type="button" class="btn btn-danger" ng-click="removeMember(member._id, selectedGroup.handle)" data-dismiss="modal">Remove Member</button>
		              </div>
		            </div>
		          </div>
		        </div>
	      	</div>
      	</div>
      </li>

    </ul>
	</div>
</div>

