<div class="post-ads" style="margin:2% 0; background-color: #eeeeee; border-radius: 8px; padding: 5%; border-style:groove;">
     <h3 style="margin-bottom:4%;">Statistics</h3>
     <h4 style="padding:5% 0;">Members</h4>
     <h5><i class="fa fa-users fa-lg" aria-hidden="true"></i> 123 Total Members</h5>
     <h5><i class="fa fa-mars fa-lg" aria-hidden="true"></i> 76 Males</h5>
     <h5><i class="fa fa-venus fa-lg" aria-hidden="true"></i> 47 Females</h5>

     <h4 style="padding:5% 0;">Posts</h4>
     <h5><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i> 161 Total Posts</h5>
     <h5><i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i> 21 Advertisements</h5>
     <h5><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> 18 News</h5>
     <h5><i class="fa fa-bug fa-lg" aria-hidden="true"></i> 33 Incident Reports</h5>
     <h5><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> 28 Questions</h5>
     <h5><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> 10 Events</h5>
     <h5><i class="fa fa-file fa-lg" aria-hidden="true"></i> 14 Media Resources</h5>
     <h5><i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> 37 Others</h5>
 </div>