<img src="{{selectedGroup.coverPhoto? selectedGroup.coverPhoto.path.split('/')[1] : '/groups/client/assets/images/default-group-cover-photo.png'}}" class="group-photo" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
<hr />

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <view-group-info-panel></view-group-info-panel>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div ng-if="'oneGroup' | isState">
      <add-post ng-if="user.isLoggedIn" add-post></add-post>

      <div class="row" style="margin: 3% 0px;">
        <div ng-if="!user.currentUser || (user.currentUser.groupsJoined.indexOf(selectedGroup.handle) < 0)" class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Reminder!</strong> You are only seeing public posts. Be sure to join the group to also see private posts.
        </div>

        <view-posts-categories></view-posts-categories>
        <search-posts></search-posts>
      </div>
    
      <view-posts></view-posts>
    </div>

    <div ng-if="!('oneGroup' | isState)" id="read-post">
      <view-post></view-post>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    <view-manage-group-panel ng-if="user.currentUser && selectedGroup.admin.indexOf(user.currentUser._id) > -1"></view-manage-group-panel>
    <view-group-members-panel></view-group-members-panel>
    <view-group-posts-statistics-panel></view-group-posts-statistics-panel>
  </div>
</div>

