<div>
  <img src="/groups/client/assets/images/744849-banana-wallpaper.jpg" class="group-photo" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
  <hr />
  <div class="row group-header">
    <div class="col-xs-12 col-sm-4 " style="padding-top: 1%;" >
      <img src="/groups/client/assets/images/Fruit_02.png" class="group-header__icon" />
      <h3 style="padding-left: 4%; display: inline-block; font-weight:bold;"><a ui-sref="oneGroup" style="color: #333333;">{{selectedGroup.name}}</a></h3>
      <div style="padding-top:3%">
      <a href="#"  style="color: #333333;"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
       <a href="#"  style="color: #333333;"><i style="padding-left: 4%" class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
       </div>
    </div>

    <div class="col-xs-12 col-sm-5 group-header--align__name" style="text-align: justify;">
     <p style="white-space: pre-wrap;" ng-bind-html="selectedGroup.description | parseURL | emoji"></p>
    </div> 

    <div class="col-xs-12 col-sm-3 group-header__actions">
      <button type="button" class="btn btn-danger" ng-click="showToast()"> Leave Group </button>
    </div>
  </div>
  <hr />


  <div>
    <div class="col-xs-12 col-sm-9">
      <div ng-if="viewOnePost">
        <div ui-view autoscroll="autoScroll.status"></div>
      </div>

      <div ng-if="!viewOnePost">
        <add-post></add-post>
        <view-posts></view-posts>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-3">
      <group-members></group-members>
      <group-statistics></group-statistics>
    </div>
  </div>
</div>