<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
 <h4>Posts Analysis</h4><hr />
 <div class="row" style="overflow: auto;">
   <!-- <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.question}}</span> <span style="font-weight: normal;" class="label label-default">Questions</span></h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.report}}</span> <span style="font-weight: normal;" class="label label-default">Incident Report</span> </h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.media}}</span> <span style="font-weight: normal;" class="label label-default">Media or URL</span> </h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.news}}</span> <span style="font-weight: normal;" class="label label-default">News</span> </h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.event}}</span> <span style="font-weight: normal;" class="label label-default">Events</span> </h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.advertisement}}</span> <span style="font-weight: normal;" class="label label-default">Advertisements</span> </h4>
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.others}}</span> <span style="font-weight: normal;" class="label label-default">Others</span> </h4>
   <hr />
   <h4><span style="font-weight: normal;" class="label label-success">{{selectedGroup.postsCount.total}}</span> <span style="font-weight: normal;" class="label label-default">Total Posts</span></h4> -->
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="group-posts-distribution-container" style="width:100%;margin: 0 auto"></div>
   </div>
 </div>
</div>