<div class="post-ads" style="margin:0 0 4% 0; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h3 style="margin-bottom:4%; ">Members</h3>
  <div style="margin: auto; height: 400px; overflow-y: auto;">
    <div class="list-group">
      <a href="#" class="list-group-item"><img src="/layout/client/assets/images/11208269_1389692501358752_1755951646_n.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> Mark Eric Cabanli</a>
      <a href="#" class="list-group-item"><img src="/layout/client/assets/images/john-cena-562300-1-402.jpg" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> Tomas Angelo Poe</a>
      <a href="#" class="list-group-item"><img src="/layout/client/assets/images/juan" class="user-profile__pic" alt="Pic" style="width: 15%; border-radius: 8%;" /> Juan Dela Cruz</a>
    </div>
  </div>
</div>