<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h4>Manage Group</h4><hr />
  <div>
    <button title="Edit Group Info" type="button" class="btn btn-primary" ui-sref="oneGroupEdit({handle: selectedGroup.handle})"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Edit</button>
    <button title="Change Group Settings" type="button" class="btn btn-primary"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Settings</button>
  </div>
</div>