<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item" ng-repeat="slider in sliders" ng-class="{ 'active' : $first }">
      <img ng-src="{{ slider.backgroundImage }}" alt="{{ slider.caption.title }}">
      <div class="container">
        <div class="carousel-caption" style="background-color: rgba(0,39,150,0.5);">
          <h1> {{ slider.caption.title }} </h1>
          <p> {{ slider.caption.description }} </p>
          <p ng-if="slider.caption.actionButton.shouldUse">
            <a class="btn btn-lg btn-success" ui-sref="{{ slider.caption.actionButton.sref }}" role="button">
              {{ slider.caption.actionButton.text }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div style="margin-bottom: 20px;"><h2 style="text-align: center;"><i class="fa fa-briefcase" aria-hidden="true"></i> Main Features</h2></div>

<div class="marketing">
  <div class="features-list">
    <div ng-repeat="feature in features" class="main-feature">
      <div style="margin: 20px auto; padding: 0.5%; height: 90%; width: 90%;">
        <h3><i class="fa" ng-class="feature.icon" aria-hidden="true"></i> {{ feature.title }} </h3><hr />
        <ul class="list-group">
          <li ng-repeat="point in feature.points" class="list-group-item">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> {{ point.text }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
