<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9">
		<div id="view-posts" class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 5px;"><h3 style="margin-top: 10px; padding-left: 10px;"><i class="fa fa-rss" aria-hidden="true"></i> Community Feed</h3><hr />
			<div class="row" style="margin: 1% 0px; padding: 0 10px;">
			  <posts-filter-panel></posts-filter-panel>
			</div>
		</div>
		<view-posts></view-posts>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-3">
		<div class="post-ads" style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		  <h4>Subscribed Group<span ng-if="userGroups.length > 1">s</span> <span class="badge" style="font-size: 14px;">{{userGroups.length}}</span></h4><hr />
		  <div style="margin: auto; max-height: 400px; overflow-y: auto;">
		    <ul class="list-group">

		      <li ng-repeat="userGroup in userGroups | orderBy: 'name'" class="list-group-item">
	      		<a ui-sref="oneGroup({handle: userGroup.handle})"><img src="{{userGroup.photo? userGroup.photo.path.split('/')[1] : '/groups/assets/images/default-group-photo.png'}}" alt="Pic" style="width: 18%; max-width: 80px;  border-radius: 8%; margin-right: 0.5em;" />{{userGroup.name}}</a>
		      </li>

		    </ul>
			</div>
		</div>
	</div>
</div>


