<button ui-sref="oneGroup({handle: selectedGroup.handle})" type="button" class="btn btn-primary">Go Back</button>

<div style="padding: 15px; background-color: white; margin: 25px auto; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 600px;">
		<div style="margin-bottom: 1%;">
			<h3 style="margin: 0;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit {{selectedGroup.name}} Information</h3>
		</div>
		<hr />
		<form style="padding: 1% 2% 2% 2%; text-align: left;" ng-submit="onProcessEditedGroupData()">

		  <div class="form-group">
		    <label>Group Description <span style="color:red;">*</span></label>
		    <textarea class="form-control" style="resize: vertical;" rows="3" placeholder="Enter the group's description" ng-model="selectedGroup.description" required></textarea>
		  </div>

		  <div ng-if="selectedGroup && selectedGroup.classification.type === 'R&D and Tech Transfer-based'" class="form-group">
		    <label>Group ISPs </label><span style="font-style: italic;"> (Separate each by comma. e.g. Banana,Coconut)</span></label>
		    <input type="text" class="form-control" placeholder="Enter the group's ISPs" ng-model="selectedGroup.classification.isps" />
		  </div>

		  <div class="form-group">
		    <label>New Group Photo Upload</label>
		    <shared-add-photo selected-upload-photo="selectedPhoto"></shared-add-photo>
		  </div>

		  <div class="form-group">
		    <label>New Group Cover Photo Upload </label>
		    <shared-add-photo selected-upload-photo="selectedCoverPhoto"></shared-add-photo>
		  </div>

		  <shared-form-legends></shared-form-legends>

		  <shared-progress-bar></shared-progress-bar>

		  <div style="display: inline-block">
		  	<shared-reset-submit-buttons></shared-reset-submit-buttons>
		  </div>

		  <button ng-if="enableViewChanges" ui-sref="oneGroup({handle: selectedGroup.handle})" type="button" class="btn btn-primary">View Changes</button>
		</form>
</div>