<div style="margin-bottom: 25px; background-color: white; border-radius: 5px; padding: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img src="{{selectedGroup.photo? selectedGroup.photo.path.split('/')[1] : '/groups/assets/images/default-group-photo.png'}}" class="group-header__icon" data-toggle="modal" data-target="#{{'group-photo-' + selectedGroup._id}}" style="cursor: pointer;" />
  <!-- modal for group photo -->
  <div class="modal fade" id="{{'group-photo-' + selectedGroup._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> {{selectedGroup.name}} Group Photo</h4>
        </div>
        <div class="modal-body">
          <img src="{{selectedGroup.photo? selectedGroup.photo.path.split('/')[1] : '/groups/assets/images/default-group-photo.png'}}" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-sm-10 col-md-8">
      <h3 style="margin-bottom: 3px;">{{selectedGroup.name}}</h3>
      <p style="color: gray;">@{{selectedGroup.handle}}</p>
    </div>
    <div ng-if="user.currentUser" class="col-xs-4 col-sm-2 col-md-4" style="padding-left: 0;">
      <!-- join, cancel request, or leave the group button and modal -->
      <div style="margin-top: 20px;">
        <button ng-if="user.currentUser.groupsJoined.indexOf(selectedGroup.handle) < 0 && selectedGroup.pendingMembers.indexOf(user.currentUser._id) < 0" title="Join the Group" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#{{'join' + selectedGroup.handle}}"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Join</button>

        <div class="modal fade" id="{{'join' + selectedGroup.handle}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Join Group</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to join this group?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="onJoinThisGroup(user.currentUser, selectedGroup.handle)" data-dismiss="modal">Join Group</button>
              </div>
            </div>
          </div>
        </div>

        <button ng-if="user.currentUser.groupsJoined.indexOf(selectedGroup.handle) < 0 && selectedGroup.pendingMembers.indexOf(user.currentUser._id) > -1" title="Cancel Join Request" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#{{'canceljoin' + selectedGroup.handle}}"><i class="fa fa-times" aria-hidden="true"></i> Cancel Request</button>

        <div class="modal fade" id="{{'canceljoin' + selectedGroup.handle}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cancel Join Request</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to cancel your join request?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="removeFromPendingList(user.currentUser._id, selectedGroup.handle)" data-dismiss="modal">Cancel Join Request</button>
              </div>
            </div>
          </div>
        </div>

        <button ng-if="user.currentUser.groupsJoined.indexOf(selectedGroup.handle) > -1" title="Leave the Group" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#{{'leave' + selectedGroup.handle}}"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Leave</button>

        <div class="modal fade" id="{{'leave' + selectedGroup.handle}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Leave Group</h4>
              </div>
              <div class="modal-body">
                <p ng-if="user.currentUser && selectedGroup.admin.indexOf(user.currentUser._id) > -1">Warning: This will also remove you as group administrator.</p>
                <p>Are you sure you want to leave this group?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="leaveThisGroup(user.currentUser._id, selectedGroup.handle)" data-dismiss="modal">Leave Group</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- group classifications of industry-based group -->
  <span ng-if="selectedGroup && selectedGroup.classification.type === 'Industry-based'">
    <h4><span style="font-weight: normal;" class="label label-default">Industry</span> <span style="font-weight: normal;" class="label label-success">{{selectedGroup.classification.industry}}</span></h4>

    <h4><span style="font-weight: normal;" class="label label-default">Sector</span> <span style="font-weight: normal;" class="label label-success">{{selectedGroup.classification.sector}}</span></h4>

    <h4><span style="font-weight: normal;" class="label label-default">ISP</span> <span style="font-weight: normal;" class="label label-success">{{selectedGroup.classification.isp}}</span></h4>

    <h4 ng-if="selectedGroup.classification.specificCommodity"><span style="font-weight: normal;" class="label label-default">Commodity</span> <span style="font-weight: normal;" class="label label-success">{{selectedGroup.classification.specificCommodity}}</span></h4>
  </span>
  <!-- group classifications of r&d and tech transfer-based group -->
  <span ng-if="selectedGroup && selectedGroup.classification.type === 'R&D and Tech Transfer-based'">
    <h4><span style="font-weight: normal;" class="label label-default">Organization</span> <span style="font-weight: normal;" class="label label-success">{{selectedGroup.classification.organization}}</span></h4>

    <h4 ng-if="selectedGroup.classification.isps.length > 0"><span style="font-weight: normal;" class="label label-default">ISPs</span> <span ng-repeat="isp in selectedGroup.classification.isps" style="font-weight: normal; display:inline-block; margin-right:2px;" class="label label-success">{{isp}}</span></h4>
  </span>
  <!-- group description -->
  <p style="white-space: pre-wrap; margin-top: 25px; margin-bottom: 0px;" ng-style="selectedGroup.description.length > DESCRIPTION_LIMIT? {'margin-bottom': '0px'} : {'margin-bottom': '25px'}"><span ng-bind-html="selectedGroup.description | parseURL | emoji | limitTo: descriptionSize"></span><span ng-if="selectedGroup.description.length > descriptionSize">...</span></p>
  <span ng-if="selectedGroup.description.length > DESCRIPTION_LIMIT" style="margin-bottom: 25px; display: block;"><a href="#/" ng-click="toggleGroupDescription()">{{readGroupDescription}}</a></span>

  <div style="margin-bottom: 30px;">
    <p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Membership</p>
    <h5>{{selectedGroup.membership}}</h5>
  </div>

  <div>
    <p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Created on</p>
    <h5>{{selectedGroup.dateCreated.split(',')[0]}}</h5>
  </div>
</div>