<form class="post-ads__form" ng-submit="onProcessPostData('others')">

  <div class="form-group">
    <label for="post-ads__desc">Post <span style="color:red;">*</span></label>
    <textarea class="form-control" id="post-ads__desc" rows="3" placeholder="Enter the post" ng-model="addPostFormData.post" required></textarea>
  </div>

  <shared-add-files form-data="addPostFormData"></shared-add-files>

  <shared-add-technology-handle selected-technology-handle="addPostFormData.technologyHandle"></shared-add-technology-handle>

  <shared-add-hashtags></shared-add-hashtags>

  <shared-form-legends></shared-form-legends>

  <shared-reset-submit-buttons></shared-reset-submit-buttons>
</form>