<form class="post-ads__form" ng-submit="onProcessPostData('advertisement')">
  <div class="form-group">
    <label for="post-ads__name">Advertisement Title <span style="color:red;">*</span></label>
    <input type="text" class="form-control" id="post-ads__name" placeholder="Enter your advertisement" ng-model="addPostFormData.adTitle" required />
  </div>

  <div class="form-group">
      <label for="post-ads__name">Price (in Philippine Peso)</label>
      <input type="number" step="0.01" class="form-control" id="post-ads__name" placeholder="Enter the price" ng-model="price" />
    </div>

  <div class="form-group">
    <label for="post-ads__desc">Features and Other Details <span style="color:red;">*</span></label>
    <textarea class="form-control" id="post-ads__desc" rows="3" placeholder="Enter the features and other details" ng-model="addPostFormData.details" required></textarea>
  </div>

  <shared-add-files form-data="addPostFormData"></shared-add-files>

  <shared-add-technology-handle selected-technology-handle="addPostFormData.technologyHandle"></shared-add-technology-handle>

  <shared-add-hashtags></shared-add-hashtags>

  <shared-form-legends></shared-form-legends>

  <shared-reset-submit-buttons></shared-reset-submit-buttons>
</form>