<form class="post-ads__form" ng-submit="onProcessPostData('media')">
  <div class="form-group">
    <label for="post-ads__name">Media Title <span style="color:red;">*</span></label>
    <input type="text" class="form-control" id="post-ads__name" placeholder="Enter the media title" ng-model="addPostFormData.mediaTitle" required />
  </div>

  <div class="form-group">
    <label for="post-ads__desc">Description</label>
    <textarea class="form-control" id="post-ads__desc" rows="3" placeholder="Enter the description" ng-model="addPostFormData.description"></textarea>
  </div>

  <div class="form-group">
    <label style="display: block;">Media Type <span style="color:red;">*</span></label>
    <select ng-model="addPostFormData.mediaType" class="form-control" style="width: 30%; display: inline-block;" required>
      <option value="" selected>---Select Media Type---</option>
      <option value="photo">Photo</option>
      <option value="video">Video</option>
      <option value="document">Document</option>
      <option value="url">URL</option>
      <option value="others">Others</option>
    </select>
  </div>

  <div ng-if="addPostFormData.mediaType === 'url'">
    <div class="form-group">
      <label for="post-ads__name">URL <span style="color:red;">*</span></label>
      <input type="url" class="form-control" id="post-ads__name" placeholder="Enter the URL" ng-model="addPostFormData.url" ng-required="addPostFormData.mediaType === 'url'" />
    </div>
  </div>

  <div ng-if="addPostFormData.mediaType !== 'url'">
    <shared-add-files></shared-add-files>
  </div>

  <shared-add-technology-handle selected-technology-handle="addPostFormData.technologyHandle"></shared-add-technology-handle>

  <shared-add-hashtags></shared-add-hashtags>

  <shared-form-legends></shared-form-legends>

  <shared-reset-submit-buttons></shared-reset-submit-buttons>
</form>