<form class="post-question__form" ng-submit="onProcessPostData('event')">
    <div class="form-group">
      <label for="post-question__name">Event Name <span style="color:red;">*</span></label>
      <input type="text" class="form-control" id="post-question__name" placeholder="Enter the event name" ng-model="addPostFormData.eventName" required />
    </div>

    <div class="form-group">
      <label>Date and Start Time <span style="color:red;">*</span></label>
      <div class="input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        <input type="text" class="form-control" placeholder="Enter the date and time" ng-model="addPostFormData.dateTime" ng-value="defaultDatetime" datetime-picker date-format="MMMM d yyyy, h:mm a" future-only style="background-color: white;" readonly />
      </div>
    </div>

    <div class="form-group">
      <label for="post-question__name">Event Location <span style="color:red;">*</span></label>
      <input type="text" class="form-control" id="post-question__name" placeholder="Enter the location" ng-model="addPostFormData.location" required />
    </div>

    <div class="form-group">
      <label for="post-question__name">Target Audience <span style="color:red;">*</span> <span style="font-style: italic;">(e.g. Everyone, Senior Citizens Only)</span></label>
      <input type="text" class="form-control" id="post-question__name" placeholder="Enter the target audiences" ng-model="addPostFormData.audience" required />
    </div>

    <div class="form-group">
      <label for="post-question__desc">Event Details <span style="color:red;">*</span></label>
      <textarea class="form-control" id="post-question__desc" rows="3" placeholder="Enter the details" ng-model="addPostFormData.details" required></textarea>
    </div>

    <shared-add-files form-data="addPostFormData"></shared-add-files>

    <shared-add-technology-handle selected-technology-handle="addPostFormData.technologyHandle"></shared-add-technology-handle>

    <shared-add-hashtags></shared-add-hashtags>

    <shared-form-legends></shared-form-legends>

    <shared-reset-submit-buttons></shared-reset-submit-buttons>
  </form>