<form class="post-question__form" ng-submit="onProcessPostData('question')">
  <div class="form-group">
    <label for="post-question__name">Question</label>
    <input type="text" class="form-control" id="post-question__name" placeholder="Enter your question" ng-model="addPostFormData.question" required />
  </div>

  <div class="form-group">
    <label for="post-question__desc">Description (optional)</label>
    <textarea class="form-control" id="post-question__desc" rows="3" placeholder="Enter the description" ng-model="addPostFormData.description"></textarea>
  </div>

  <shared-add-files></shared-add-files>

  <shared-add-hashtags></shared-add-hashtags>

  <div class="text-right">
    <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit </button>
  </div>
</form>
