<form class="post-ads__form" ng-submit="onProcessPostData('advertisement')">
  <div class="form-group">
    <label for="post-ads__name">Advertisement Title</label>
    <input type="text" class="form-control" id="post-ads__name" placeholder="Enter your advertisement" ng-model="addPostFormData.adTitle" required />
  </div>

  <div class="form-group">
    <label for="post-ads__desc">Details </label>
    <textarea class="form-control" id="post-ads__desc" rows="3" placeholder="Enter the details" ng-model="addPostFormData.details" required></textarea>
  </div>

  <shared-add-files></shared-add-files>

  <shared-add-hashtags></shared-add-hashtags>

  <div class="text-right">
    <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit </button>
  </div>
</form>