<!-- <div class="container view-ads" style="padding: 2%;">
  <div class="row view-ads__list">
    <div class="col-xs-12 col-sm-4">
      <button type="button" class="btn btn-danger view-ads__goback" ui-sref="bananaGroup.viewPosts"> <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Go Back</button>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3 style="display: inline;">Advertisements</h3>
    </div>
    <div class="col-xs-12 col-sm-4">
      <form>
        <div class="form-group">
          <input type="text" style="display: inline-block; width: 70%;" class="form-control" placeholder="Search post here" required />
          <button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </form>
    </div>


    <div class="col-xs-12 col-sm-12" ng-if="posts.length == 0" style="margin:4% 0;">
      <h4>No advertisements yet.</h4>
    </div>
  
    <div class="col-xs-12 col-sm-12" ng-repeat="post in posts | filter: {category: 'ads'}">
      <div style="border-style: groove; margin: 2%; border-radius: 8px;">
        <h3 style="text-decoration: underline; font-weight: bolder;"><a ui-sref="bananaGroup.viewPosts-one-ads({category: 'ads', id: post._id})">{{post.adTitle}}</a></h3>
        <p>submitted by {{post.postedBy}} on {{post.datePosted}}</p>

        <h4 style="padding: 2%; white-space: pre-wrap;">{{post.details}}</h4>

           <p style="display: inline;" ng-repeat="reaction in post.reactions"> {{reaction.count}} 
           <span ng-show="!$first">{{reaction.name}}</span>
           <span ng-show="$first">comment<span ng-show="(post.reactions[0].count > 1)">s</span></span>
           <span style="margin: 0 1%;" ng-show="!$last">| </span> </p>
      </div>
    </div>
  </div>
</div> -->


      <div class="post-ads" style="background-color: #eeeeee; border-radius: 8px;">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{postLabel}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-click= setPostLabel('ads')><a ui-sref="bananaGroup.vPosts.addPost-ads">Post Advertisement</a></li>
              <li ng-click= setPostLabel('news')><a ui-sref="bananaGroup.addPost-news">Post News</a></li>
              <li ng-click= setPostLabel('report')><a ui-sref="bananaGroup.addPost-report">Post Incidence Report</a></li>
              <li ng-click= setPostLabel('question')><a ui-sref="bananaGroup.vPosts.addPost-question">Post Question</a></li>
              <li ng-click= setPostLabel('event')><a ui-sref="bananaGroup.addPost-event">Post Event</a></li>
              <li ng-click= setPostLabel('media')><a ui-sref="bananaGroup.addPost-media">Post Media Resource</a></li>
              <li role="separator" class="divider"></li>
              <li ng-click= setPostLabel('others')><a ui-sref="bananaGroup.addPost-others">Post Others</a></li>
            </ul>
          </div>

          <div ui-view>
            
          </div>

      </div>


      <hr />
      <h4 style="padding: 0 10px;">Recent Posts</h4>
      <hr />


      <div class="post-ads" ng-repeat="post in posts" style="margin-top: 4%; background-color: #eeeeee; border-radius: 8px;">
          <div style="margin: 2%; border-radius: 8px;">
          <h3 style="text-decoration: underline; font-weight: bolder;"><a style="color: #333333;" ui-sref="bananaGroup.viewPosts-one-ads({category: 'ads', id: post._id})">{{post.adTitle}}</a></h3>
          <p style="color: gray;">submitted by <a href="#" style="text-decoration: underline; color: gray; font-weight: bold;">{{post.postedBy}}</a> on {{post.datePosted}}</p>

          <h4 style="padding: 4% 0; white-space: pre-wrap;">{{post.details}}</h4>

             <p style="display: inline; padding: 0 4% 0 0;" ng-repeat="reaction in post.reactions"> 
             <span ng-show="reaction.name=='comments'"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
              </span>
              <span ng-show="reaction.name=='thumbsUp'"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
              </span>
              <span ng-show="reaction.name=='happy'"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
              </span>
              <span ng-show="reaction.name=='sad'"><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
              </span>
              {{reaction.count}} 
              </p>
        </div>
      </div>
 