<div style="padding: 2%;">

			<button ui-sref="bananaGroup.vPosts.addPost-ads" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Go Back</button>
		
	<div class="row" style="padding: 4%; background-color:#eeeeee; margin: 2% 0 2% 0; border-radius: 8px;">

		<a href="groups/banana/view-posts/others/{{post._id}}" style="color: #333333;"><h3 style="display: inline; font-weight: bolder;">{{post.post}}</h3></a>


		<div style="padding: 2% 0 2% 0">
			<p style="color: gray;">submitted by <a href="#" style="font-weight: bold; color: gray; text-decoration:underline;">{{post.postedBy}}</a> on {{post.datePosted}}</p>
		</div>

	    <div style="padding: 4% 0">
	    	<h5 style="text-align:left;">File/s uploaded:</h5>
	    	
	    	<h4 ng-repeat="file in post.files"><a href="#">image.jpg</a></h4>
	    	<h5><a href="#">sample_image.jpg</a></h5>
	    </div>

	    <div>
	    	<div ng-repeat="hashtag in post.hashtags" style="background-color: #ccc; padding: 1%; margin-right: 2%; border-radius:8px; display: inline-block; cursor:pointer; border-style: outset;">
	    		<h5 style="">#{{hashtag}}</h5>
	    	</div>
	    </div>
	</div>
	    <div class="col-xs-12 col-sm-12" style=" margin: 2% 0 2% 0; border-radius: 8px; background-color: #eeeeee; padding: 4%">
	    	<h4 style="margin-bottom: 3%;">What is your reaction?</h4>		

      		<h4 ng-if="!$first" style="display: inline; padding-right:3%;" ng-repeat="reaction in post.reactions">
	              <span ng-show="reaction.name=='thumbsUp'"><i ng-click="setPostReaction($index)" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span ng-show="reaction.name=='happy'"><i ng-click="setPostReaction($index)" class="fa fa-smile-o fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span ng-show="reaction.name=='sad'"><i ng-click="setPostReaction($index)" class="fa fa-frown-o fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span style="margin-left: 1%;">{{reaction.count}} </span>
            </h4>
      	</div>

      	<add-comment></add-comment>

      	
      	<div class="col-xs-12 col-sm-12">
      	<hr />
      	<h4 style="padding: 0 10px;">{{post.reactions[0].count}} Comment<span ng-show="post.reactions[0].count > 1">s</span></h4>
      	<hr />
      	</div>
      	
	    <view-comments></view-comments>
</div>
