<div class="container" style="padding: 2%;">
	<div class="row" style="padding: 2%; border-style: groove; margin: 2% 0 2% 0; border-radius: 8px;">

		<div class="col-xs-12 col-sm-3">
			<button ui-sref="bananaGroup.viewPosts-ads" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Go Back</button>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3 style="display: inline; font-weight: bolder;">{{post.adTitle}}</h3>
		</div>


		<div class="col-xs-12 col-sm-12" style="padding: 2% 0 2% 0">
			<p>submitted by {{post.postedBy}} on {{post.datePosted}}</p>
		</div>
		

		<div class="col-xs-12 col-sm-12">
	      	<h4 style="padding: 2%; white-space: pre-wrap;">{{post.details}}</h4>
	    </div>

	    <div class="col-xs-12 col-sm-12">
	    	<h4 style="text-align:left; font-weight: bold;">File/s uploaded:</h4>
	    	
	    	<h4 ng-repeat="file in post.files"><a href="#">Nestle_adsPromo.jpg</a></h4>
	    	<h4><a href="#">Nestle_free_poster.jpg</a></h4>
	    </div>

	    <div class="col-xs-12 col-sm-12">
	    	<h4 style="text-align:left; font-weight: bold;">Hashtags: </h4>
	    	<div ng-repeat="hashtag in post.hashtags">
	    		<h4>#{{hashtag}}</h4>
	    	</div>
	    </div>
	</div>
	    <div class="col-xs-12 col-sm-12" style=" margin: 2% 0 2% 0; border-radius: 5px; padding:1%">
	    	<h4 style="font-weight: bold;">React on This Post</h4>
	    	<div style="display:inline-block; margin: 0.25%" ng-if="!$first" ng-repeat="reaction in post.reactions track by $index">
	    		<h4>{{reaction.count}}</h4>
	    		<button type="button" class="btn btn-primary" ng-click="setReaction($index)">{{reaction.name}}</button>
	    	</div>
      		
      	</div>

      	<add-comment></add-comment>
	    <view-comments></view-comments>
</div>
