<div class="btn-group" style="padding-right: 10px;">
  <button type="button" style="padding: 0 8px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> </button>

  <ul class="dropdown-menu" style="min-width: 0; z-index: 1;">
    <li ng-click="editPost(post.category, post._id); autoScrollPost(true);"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Post</a></li>
    <li ng-click="deletePost()"><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Post</a></li>
  </ul>
</div>