<div class="col-xs-12 col-sm-6" style="margin-top: 10px; padding: 0;">
  <view-posts-categories></view-posts-categories>
</div>
<div class="col-xs-12 col-sm-6" style="margin-top: 10px; padding: 0;">
  <search-posts></search-posts>
</div>
<div class="col-xs-12 col-lg-12" style="margin-top: 10px; padding: 0;">
  <div ng-if="searchPostsValue">
    <h4>{{posts.contents.length}} post<span ng-if="posts.contents.length > 1">s</span> contain<span ng-if="posts.contents.length < 2">s</span> "<span style="font-style: italic;">{{searchPostsValue}}</span>"</h4>
  </div>
</div>