<div style="padding: 15px; background-color: white; margin: 1% auto; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 500px;">
	<h3 style="margin: 0;"><i class="fa fa-user-plus" aria-hidden="true"></i> Create an <span ng-if="adminRegistration.allow">Administrator</span> Account </h3>
	
	<hr />
	<form style="padding: 1% 2% 2% 2%; text-align: left;" ng-submit="onProcessUserData()">

	  <div class="form-group" style="width:49%; display: inline-block;">
	    <label>First Name </label>
	    <input type="text" class="form-control" placeholder="Enter your first name" ng-model="addUserFormData.name.first" required />
	  </div>

	  <div class="form-group" style="width:49%; display: inline-block;">
	    <label>Last Name </label>
	    <input type="text" class="form-control" placeholder="Enter your last name" ng-model="addUserFormData.name.last" required />
	  </div>

 	  <div class="form-group">
	    <label>Sex </label>
	    <select class="form-control" ng-model="addUserFormData.sex" required>
	    	<option value="" selected>---Select Sex---</option>
	        <option value="Male" selected>Male</option>
	        <option value="Female">Female</option>
	    </select>
	  </div>


	  <div class="form-group">
	    <label style="display: block;">Birthdate </label>
	    <select class="form-control" ng-model="selectedMonth" style="width:33%; display: inline-block;" required>
	    	<option value="" selected>---Month---</option>
	        <option value="{{month}}" ng-repeat="month in getAllMonths()">{{month}}</option>
	    </select>
	    <select class="form-control" ng-model="selectedDay" style="width:32%; display: inline-block;" required>
	    	<option value="" selected>---Day---</option>
	        <option value="{{day}}" ng-repeat="day in getAllDays()">{{day}}</option>
	    </select>
	    <select class="form-control" ng-model="selectedYear" style="width:33%; display: inline-block;" required>
	    	<option value="" selected>---Year---</option>
	        <option value="{{year}}" ng-repeat="year in getAllYears()">{{year}}</option>
	    </select>
	  </div>

	  <div class="form-group">
	    <label>Country </label>
	    <input type="text" class="form-control" placeholder="Enter your country" ng-model="addUserFormData.country" required />
	  </div>

	  <div class="form-group">
	    <label>City or Province </label>
	    <input type="text" class="form-control" placeholder="Enter your city or province" ng-model="addUserFormData.location" required />
	  </div> 

	  <div class="form-group">
	    <label>Office/Agency Affiliation </label>
	    <input type="text" class="form-control" placeholder="Enter your office/agency affiliation" ng-model="addUserFormData.affiliation" required />
	  </div> 

	  <div class="form-group">
	    <label>Complete Mailing Address </label>
	    <input type="text" class="form-control" placeholder="Enter your complete mailing address" ng-model="addUserFormData.mailingAddress" required />
	  </div> 

	  <div class="form-group">
	    <label style="display: block;">Occupation / Profession / Sector </label>
	    <select class="form-control" ng-model="addUserFormData.occupation" required>
	    	<option value="" selected>---Occupation / Profession / Sector---</option>
	        <option value="{{occupation}}" ng-repeat="occupation in occupationList">{{occupation}}</option>
	    </select>
	  </div> 

	  <div class="form-group">
	    <label>Email Address </label>
	    <input type="email" class="form-control" placeholder="Enter your email address" ng-model="addUserFormData.email" required />
	  </div>

	  <div class="form-group">
	    <label>Password </label>
	    <input type="password" class="form-control" placeholder="Enter your password" ng-model="enteredPassword" pattern=".{6,}" title="Password should have a minimum length of 6 characters" required />
	  </div>

	  <div class="form-group">
	    <label>Re-enter Password </label>
	    <input type="password" class="form-control" placeholder="Re-enter your password" ng-model="reenteredPassword" pattern=".{6,}" title="Password should have a minimum length of 6 characters" required />
	  </div>

  	<div class="form-group">
  		<div class="checkbox">
		  <label><input type="checkbox" value="I agree" required> I agree to the <a href="#/" target="_blank" data-toggle="modal" data-target="#terms-of-service">terms of service</a>. </label>
		</div>
  	</div>


	  <div class="modal fade" id="terms-of-service" tabindex="-1" role="dialog">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title"><i class="fa fa-file-o" aria-hidden="true"></i> Terms of Service ("Terms")</h4>
	          </div>
	          <div class="modal-body" style="overflow-y: auto; max-height: 400px;">
	            <user-terms-of-service></user-terms-of-service>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
	          </div>
	        </div>
	      </div>
	    </div>

	  <shared-reset-submit-buttons></shared-reset-submit-buttons>
	</form>
</div>