$footer-height: 440px;

layout-footer {
	position: absolute;
	right: 0;
	width: 100%;
	height: $footer-height;
	bottom: 0;
	color: black;
	padding-top: 2.5em;
}

.site-footer {
	background-color: #ccc !important;
	border-top: solid 1px;

	&__about {
		text-align: center;
	}

	&__copyright {
		background-color: #9d9d9d;
		padding: 1.5% 0 0.5% 0;
		text-align: center;
	}
}

@media (min-width: 768px) {
  layout-footer {
		position: absolute;
		right: 0;
		width: 92%;
		height: $footer-height;
		bottom: 0;
		color: black;
		padding-top: 2.5em;
	}
}