.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: block;
    padding: 0;
    overflow-x: visible;
    background-color: black;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar > li > a {
  color: white;
}

/* .nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #ccc;
} */

.nav.nav-sidebar > li > a:hover {
  background-color: #14a99d;
}

.nav.nav-sidebar > li > a:focus {
  background-color: #14a99d;
}


.nav.nav-sidebar > li > a:hover > i {
  color: #003d55;
}

.nav.nav-sidebar > li > a {
  padding: 5px 0;
}

.nav.nav-sidebar > li > a > h6{
  margin: 5px 0;
}


div ul.nav.nav-sidebar > .dropdown-content {
    border-left: 3px solid #14a99d;
    left: 7%;
    overflow:auto;
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    max-height: 250px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 300;
    background-color: #003d55;
}


.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #14a99d;}

ul.nav.nav-sidebar:hover > .dropdown-content {
    display: block;
}

ul.nav.nav-sidebar:hover {
  background-color: #14a99d;
}

ul.nav.nav-sidebar:hover i{
  color: #003d55;
}


