layout-header {
	display: block;
	//padding: 2.32em;
}

.notification {
	&__count {
		font-weight: bolder; 
		font-size: 1.3em;
	}
}

.user-profile {
	&__pic {
		margin-right: 0.5em;
	}
}

.affix {
  top: 0;
  width: 100%;
  z-index: 100;
}

.affix-top {
  width: 100%;
}


.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:60%;
  padding:.3em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(200,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

#versionbutton {
  background-color: #FFC131;
  color: #484848;
  font-size: 14px;
  font-weight: bold;
  margin-top: -20px;
  height: 40px;
  width: 160px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

#user-option-dropdown::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 11px;
    position: absolute;
    top: -8px;
}

#user-option-dropdown::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 11px;
    position: absolute;
    top: -7px;
}