$footer-height: 448px;

layout-footer {
	position: absolute;
	right: 0;
	width: 100%;
	height: $footer-height;
	bottom: 0;
	color: white;
	padding-top: 2.5em;
}

.site-footer {
	background-color: rgba(0, 0, 0, 0.9) !important;

	&__about {
		text-align: center;
	}

	&__copyright {
		background-color: black;
		padding: 1.5% 0 0.5% 0;
		text-align: center;
	}
}

@media (min-width: 768px) {
  layout-footer {
		position: absolute;
		right: 0;
		width: 84%;
		height: $footer-height;
		bottom: 0;
		color: white;
		padding-top: 2.5em;
	}
}