layout-header {
	display: block;
	//padding: 2.32em;
}

.notification {
	&__count {
		font-weight: bolder; 
		font-size: 1.3em;
	}
}

.user-profile {
	&__pic {
		margin-right: 0.5em;
	}
}

.affix {
  top: 0;
  width: 92%;
  z-index: 100;
}

.affix-top {
  width: 100%;
}


.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:1%;
  content: attr(data-count);
  font-size:60%;
  padding:.3em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(200,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}