$footer-height: 348px;	// depends on the height of footer contents

layout-footer {
	position: absolute;
	width: 100%;
	height: $footer-height;
	bottom: 0;
	color: white;
	padding-top: 2.5em;
}

.site-footer {	
	background-color: rgba(0,0,0,0.9) !important;
	border-top: solid 1px;

	&__about {
		text-align: center;
	}

	&__copyright {
		background-color: #000;
		padding: 0.5% 0;
		color: gray;
	}
}