<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    <h4>GROUP PANEL</h4>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">My Groups <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Discover Groups</a></li>
      </ul>
    <h4>ADMIN PANEL</h4>
      <ul class="nav nav-sidebar">
        <li><a href="">Analytics</a></li>
        <li><a href="">Reports</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<a ui-sref="about" class="nav-link">About</a>
		<h2 class="logged-in-home__title">PCAARRD KM Home Sass Test</h2>
		<p class="logged-in-home__desc">An application that lets users talk in the virtual spaces. Users can also post photos, videos, and other files in the virtual spaces they joined.</p>
		
		<form>
				<input class="form-control logged-in-home__create-input" 
					placeholder="Angular Test" 
					ng-model="homeInput" />

				<button class="btn btn-success logged-in-home__button" ng-click="homeClick(homeChoices[0], buttonName)">
					{{buttonName.btnName}}
				</button>

				<p ng-if="homeChoices[0].isEditing" class="logged-in-home__output"> {{homeInput}} </p>

			</form>


		<form ng-submit="createTask()">
			<input class="form-control todos__create-input" 
				placeholder="Angular, Express, MongoDB Test" 
				ng-model="createTaskInput" />
			<button class="btn btn-success todos__create-button">
				Create Task 
			</button>
		</form>

		<table class="table table-striped">
		<tr>
			<th>Completed?</th>
			<th>Task</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="todo in todos">
			<td>
				<input type="checkbox" 
					class="todos__checkbox" 
					ng-checked="todo.isCompleted" 
					ng-click="onCompletedClick(todo)" />
			</td>
			<td>
				<span ng-if="!todo.isEditing" 
					class="todos__task" 
					ng-class="{'todos__task--completed': todo.isCompleted}"> 
					{{todo.task}} 
				</span>

				<form ng-submit="updateTask(todo)">
					<input ng-if="todo.isEditing" 
						class="form-control todos__update-input" 
						ng-value="todo.task" 
						ng-model="todo.updatedTask" />
				</form>
			</td>
			<td>
				<button ng-if="!todo.isEditing" 
					class="btn btn-info" 
					ng-click="onEditClick(todo)">
					Edit
				</button>
				<button ng-if="!todo.isEditing" 
					class="btn btn-danger" 
					ng-click="deleteTask(todo)">
					Delete
				</button>

				<button ng-if="todo.isEditing" 
					class="btn btn-primary" 
					ng-click="updateTask(todo)">
					Save
				</button>
				<button ng-if="todo.isEditing" 
					class="btn btn-default" 
					ng-click="onCancelClick(todo)">
					Cancel
				</button>
			</td>
		</tr>
		</table>

		<a ui-sref="bananaGroup.about">Go to a sample Banana Group!</a>
	</div>
  </div>
</div>

