<div class="row">
	<div class="col-xs-12 col-sm-4">

	<!-- Discussions -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-comments-o fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Discussions</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">WELCOME TO THE PCAARRD KM COMMUNITY</a> 
								<div style="color: #737373;"> Connect with peers and find out more about our community. 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Where do you begin with Spatial?</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">331</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PUBLISHING &amp; GALLERY</a> 
								<div style="color: #737373;"> Macros, apps, reports, and dashboards. Share the love! 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Publish Tableau Server Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1.5k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

<!-- Knowledge -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-book fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Knowledge</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">BOOK SERIES</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">INFORMATION BULLETIN</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps!
 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">INVESTMENT BRIEF</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">KOMIKS</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PCAARRD ANNUAL REPORTS</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PCAARRD FARM PRIMER</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PCAARRD TRAINING MODULE</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PHILIPPINES RECOMMENDS</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PROFITABILITY ANALYSIS</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">REGIONAL FARM PRIMER</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">REGIONAL PUBLICATION</a> 
								<div style="color: #737373;"> Get started: helpful articles, sample modules, and apps! 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> The 'How to Guide' to Cognitive Services Text Analytics Macro</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">1k</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	<!-- Multimedia Resources -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-laptop fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Multimedia Resources</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PHOTOS</a> 
								<div style="color: #737373;"> Got ideas? Collaborate with peers &amp; shape the future!
 
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> SQL Query Performance Profiling</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">959</a></h3>
								<h6 style="color: #737373;">Multimedia Resources</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">VIDEOS</a> 
								<div style="color: #737373;"> What can we do to make your community experience better? Let us know!
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Community Chat (Possibly Twitter)</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">43</a></h3>
								<h6 style="color: #737373;">Multimedia Resources</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">LINKS</a> 
								<div style="color: #737373;"> Got ideas? Collaborate with peers &amp; shape the future! 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> SQL Query Performance Profiling</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">959</a></h3>
								<h6 style="color: #737373;">Multimedia Resources</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

<!-- Next Column -->


	<div class="col-xs-12 col-sm-4">

		<!-- Training -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-graduation-cap fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Training</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">TRAINING 1</a> 
								<div style="color: #737373;"> Live, instructor-led, training sessions focused on practical use cases.
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> 2017-02-14: Introduction to Applications</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">37</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">TRAINING 2</a> 
								<div style="color: #737373;"> Sharpen your skills with a new challenge released every week. 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Challenge #57: Build a Valentine's Day App</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">311</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Blogs -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-pencil fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Blogs</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PCAARRD KM COMMUNITY NEWS</a> 
								<div style="color: #737373;"> Get the latest community news and announcements!
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Get this Sweet Reward on Valentine's Day!</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">106</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Events -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-calendar fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Events</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">SWEET POTATO FIESTA</a> 
								<div style="color: #737373;"> Stay updated, connect with peers &amp; share your experience!

									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Better Together | Grand Prix + User Groups</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">24</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">SIPAG FIESTA</a> 
								<div style="color: #737373;"> Shape the agenda. Submit your ideas for the Tech Track.
 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Predictive Analytics with a Spatial Emphasis</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">22</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">ROOTCROP FIESTA</a> 
								<div style="color: #737373;"> Hangout with PCAARRD KM experts: Livestreams, AMAs, previews...

									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;">  PCAARRD KM and Tableau Experts: Preparing Your Data for the Tableau Conference 2016</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">71</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">PISTANG KALABAW</a> 
								<div style="color: #737373;"> Submit your best PCAARRD KM success stories! #PCAARRDKMForGood
 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Excellence Awards 2016: Michael Barone - Best Use of Predictive</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">102</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">SEAWEED FIESTA</a> 
								<div style="color: #737373;"> Submit your best PCAARRD KM success stories! #PCAARRDKMForGood
 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Excellence Awards 2016: Michael Barone - Best Use of Predictive</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">102</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">SARDINES FIESTA</a> 
								<div style="color: #737373;"> Submit your best PCAARRD KM success stories! #PCAARRDKMForGood
 
									<div>
										Latest Topic: <h6 style="display: inline;"><a href="#" style="color: #176183;"> Excellence Awards 2016: Michael Barone - Best Use of Predictive</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">102</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Support -->

		<div>
			<div style="border-bottom: 1px solid #ccc; padding: 5px 15px; margin-bottom: 10px;">
				<i class="fa fa-life-ring fa-2x" aria-hidden="true" style="color: #737373;"></i> <h4 style="display: inline-block; padding-left: 4%; font-weight:600;"><a href="#" style="color: #333">Support</a></h4>
			</div>

			<div>
				<ul class="list-group">
					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">ALERTS</a> 
								<div style="color: #737373;"> Get the latest community news and announcements!
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Get this Sweet Reward on Valentine's Day!</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">106</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">FAQS</a> 
								<div style="color: #737373;"> Get the latest community news and announcements!
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Get this Sweet Reward on Valentine's Day!</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">106</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">GUIDELINES</a> 
								<div style="color: #737373;"> Get the latest community news and announcements!
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Get this Sweet Reward on Valentine's Day!</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">106</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>

					<li class="list-group-item"> 
						<div class="row">
							<div class="col-xs-10 col-sm-10">
								<a href="#" style="color: #283B9D; font-weight: bold;">MEMOS AND ISSUANCES</a> 
								<div style="color: #737373;"> Get the latest community news and announcements!
									<div>
										Latest Topic:<h6 style="display: inline;"><a href="#" style="color: #176183;"> Get this Sweet Reward on Valentine's Day!</a></h6>
									</div>
								</div>
							</div>

							<div class="col-xs-2 col-sm-2" style="padding-left: 2px;">
								<h3><a href="#" style="color: #737373;">106</a></h3>
								<h6 style="color: #737373;">Posts</h6>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>


<!-- Next Column -->

	<div class="col-xs-12 col-sm-4">
		<div style="border: 2px solid #005294; margin-bottom: 20px; color: #005294; padding: 15px 30px;">
			<div style="text-align: center; margin-bottom: 25px;">
				<h5 style="font-weight: bold;">WELCOME TO PCAARRD KM COMMUNITY</h5>
				<h5 style="font-weight: bold;">Insights. Collaboration. Innovation.</h5>
			</div>
			<div style="color: #3e3e3e;" >
				<h5 style="padding: 8px 0;"><i class="fa fa-comments fa-2x" style="margin-right: 10px; color: #3e3e3e;" aria-hidden="true"></i> 32245 Comments</h5>

				<h5 style="padding: 8px 0;"><i class="fa fa-thumbs-up fa-2x" style="margin-right: 10px; color: #0066b9;" aria-hidden="true"></i> 23069 Likes</h5>

				<h5 style="padding: 8px 0;"><i class="fa fa-smile-o fa-2x" style="margin-right: 10px; color: #F6F200;" aria-hidden="true"></i> 2395 Happy</h5>

				<h5 style="padding: 8px 0;"><i class="fa fa-frown-o fa-2x" style="margin-right: 10px; color: #2B399F;" aria-hidden="true"></i> 2395 Sad</h5>
			</div>
		</div>

		<div style="background-color: #005294; margin-bottom: 20px;padding: 15px 30px; text-align: center;">
			<a href="#" style="color: white;"><h1>NEW TO THE COMMUNITY?</h1>
			<h5>Guidelines, FAQs, and Announcements</h5></a>
		</div>

		<div>
			<img src="/home/client/assets/images/banner2__flipped.png" alt="PCAARRD" width="100%" />
		</div>
	</div>

</div>


