<div class="row">
    <div class="col-xs-9 col-sm-9">
      <h4 style="display: inline;"><span title="Post Category" style="font-weight: normal;" class="label label-info">Advertisement</span> <span ng-if="!selectedPost.showPublic" title="Private Post" class="label label-default" style="font-weight: normal;"><i class="fa fa-lock" aria-hidden="true"></i></span></h4>
    </div>
    <div class="col-xs-3 col-sm-3" style="text-align: right;">
      <delete-post></delete-post>
    </div>
</div>

<h3 style="margin: 10px 0 0 0;">{{selectedPost.adTitle}}</h3>

<div style="padding: 1% 0 2% 0">
	<p style="color: gray;">posted by <a ui-sref="user-profile({userID: selectedPost.postedBy._id})" style="font-weight: bold; color: gray;">{{selectedPost.postedBy.name}}</a> on {{selectedPost.datePosted}}</p>
</div>

<div ng-if="selectedPost.price" style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Price</p>
	<h4><img src="posts/client/assets/images/philippine-peso.png" alt="Php" style="height: 40px; margin-right: 10px;" />{{selectedPost.price}}</h4>
</div>

<div style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Features and Other Details</p>
  	<h4 ng-bind-html="selectedPost.details | parseURL | emoji" style="white-space: pre-wrap;"></h4>
</div>

