<div class="row" style="margin: 5% 0px;">
	<div class="col-xs-6 col-sm-6">
		<h4 style="padding: 0 10px; display: inline-block;">{{currentViewPostsCategory.postCategory.title}}</h4>
	</div>

	<div class="col-xs-6 col-sm-6 text-right">
		<div class="btn-group" style="padding-right: 10px;">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> View By <span class="caret"></span> </button>

		  <ul class="dropdown-menu">
		    <li ng-repeat="viewPostsCategory in viewPostsCategories" ng-click="setCurrentViewPostsCategory(viewPostsCategory.category);"><a href="#">{{viewPostsCategory.title}}</a></li>
		  </ul>
		</div>
	</div>
</div>