<div class="row">
    <div class="col-xs-6 col-sm-6">
      <h4 style="display: inline;"><span style="font-weight: normal;" class="label label-info">News</span> <span ng-if="!selectedPost.showPublic" title="Private Post" class="label label-default" style="font-weight: normal;"><i class="fa fa-lock" aria-hidden="true"></i></span></h4>
    </div>
    <div class="col-xs-6 col-sm-6" style="text-align: right;">
      <delete-post></delete-post>
    </div>
</div>

<h3 style="margin: 10px 0 0 0;">{{selectedPost.newsTitle}}</h3>

<div style="padding: 1% 0 1% 0">
	<p style="color: gray; margin-bottom: 2px;">posted by <a ui-sref="user-profile({userID: selectedPost.postedBy._id})" style="font-weight: bold; color: gray;">{{selectedPost.postedBy.name}}</a> on {{selectedPost.datePosted}}, </p>
	<p style="color: gray; margin-bottom: 2px;">authored by <span ng-repeat="author in selectedPost.authors track by $index"><span ng-if="$last && selectedPost.authors.length > 1"> and </span>{{author}}<span ng-if="!$last">, </span></span></p>
</div>

<div style="margin-bottom: 3%;">
  	<h4 ng-bind-html="selectedPost.newsBody | parseURL | emoji" style="white-space: pre-wrap;"></h4>
</div>