<div class="row">
    <div class="col-xs-6 col-sm-6">
      <h4 style="display: inline;"><span style="font-weight: normal;" class="label label-info">Incident Report</span></h4>
    </div>
    <div class="col-xs-6 col-sm-6" style="text-align: right;">
      <delete-post></delete-post>
    </div>
</div>

<h3 style="margin: 10px 0 0 0;">{{selectedPost.reportTitle}}</h3>

<div style="padding: 1% 0 2% 0">
	<p style="color: gray;">posted by <a href="#" style="font-weight: bold; color: gray;">{{selectedPost.postedBy}}</a> on {{selectedPost.datePosted}}</p>
</div>

<div style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Occured on</p>
  	<h4>{{selectedPost.dateTime}}</h4>
</div>

<div style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Located at</p>
  	<h4 ng-bind-html="selectedPost.location | parseURL | emoji"></h4>
</div>

<div style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Incident Report Details</p>
  	<h4 ng-bind-html="selectedPost.details | parseURL | emoji" style="white-space: pre-wrap;"></h4>
</div>