<div style="margin: 2%; border-radius: 8px;"> 
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="label label-info">Event</span>
    </div>
    <div class="col-xs-6 col-sm-6" style="text-align: right;">
      <edit-delete-post></edit-delete-post>
    </div>
  </div>
  <a style="color: #333333; display: inline-block;" ng-click="autoScrollPost(true)" ui-sref="oneGroup.viewOneEventPost({id: post._id})">
  <h4 style="font-weight: bolder; white-space: pre-wrap;"><span ng-bind="post.eventName | limitTo: 200"></span><span ng-if="post.eventName.length > 200" >...</span></h4> </a>
  <p style="color: gray;">submitted by <a href="#" style="color: gray; font-weight: bold;">{{post.postedBy}}</a> on {{post.datePosted}},</p>
	<p style="padding-bottom: 2%; color: gray;"> event on {{post.startDateTime}} at {{post.location}}</p>
  <p style="padding: 1% 0; white-space: pre-wrap; max-height: 80px;" data-ng-bind="post.details" data-ellipsis></p>
  <div style="margin: -1% 0 2% 0;">
  	(<a ui-sref="oneGroup.viewOneEventPost({id: post._id})" ng-click="autoScrollPost(true)">Read More</a>)
  </div>
  <all-posts-reactions></all-posts-reactions>
</div>
