<div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="label label-info">Question</span>
    </div>
    <div class="col-xs-6 col-sm-6" style="text-align: right;">
      <delete-post></delete-post>
    </div>
</div>

<h3 style="margin: 10px 0 0 0;">{{selectedPost.question}}</h3>

<div style="padding: 1% 0 2% 0">
	<p style="color: gray;">submitted by <a href="#" style="font-weight: bold; color: gray;">{{selectedPost.postedBy}}</a> on {{selectedPost.datePosted}}</p>
</div>

<div ng-if="selectedPost.description" style="margin-bottom: 3%;">
	<p style="color: gray; margin-bottom: 2%; border-bottom: 1px solid rgba(0, 0, 0, 0.2);">Description</p>
  	<h4 ng-bind-html="selectedPost.description | parseURL | emoji" style="white-space: pre-wrap;"></h4>
</div>