<div class="row">
    <div class="col-xs-6 col-sm-6">
      <h4 style="display: inline;"><span style="font-weight: normal;" class="label label-info">Others</span> <span ng-if="!selectedPost.showPublic" title="Private Post" class="label label-default" style="font-weight: normal;"><i class="fa fa-lock" aria-hidden="true"></i></span></h4>
    </div>
    <div class="col-xs-6 col-sm-6" style="text-align: right;">
      <delete-post></delete-post>
    </div>
</div>

<h4 ng-bind-html="selectedPost.post | parseURL | emoji" style="margin: 10px 0 0 0; white-space: pre-wrap;"></h4>

<div style="padding: 1% 0 1% 0">
	<p style="color: gray;">posted by <a ui-sref="user-profile({userID: selectedPost.postedBy._id})" style="font-weight: bold; color: gray;">{{selectedPost.postedBy.name}}</a> on {{selectedPost.datePosted}}</p>
</div>