<div class="btn-group" style="padding-right: 10px;">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> View {{currentViewPostsCategory.postCategory.title}} <span class="badge">{{postsCopy.contents.length}}</span> <span class="caret"></span> </button>

  <ul class="dropdown-menu">
    <li ng-repeat="viewPostsCategory in viewPostsCategories" ng-click="setCurrentViewPostsCategory(viewPostsCategory.category); resetSearchBar(); resetCurrentPage();"><a href="#/">View {{viewPostsCategory.title}}</a></li>
  </ul>
</div>
