<div class="col-xs-12 col-sm-12" style="margin: 2% 0 2% 0; padding:4%; border-radius: 8px; background-color: #eeeeee; border-style:groove;">
	<form ng-submit="onProcessCommentData(selectedPost._id)">
		<h4>Write a comment</h4>
		<div class="form-group">
	      <textarea class="form-control" rows="4" placeholder="Enter a comment here" ng-model="addCommentFormData.comment" required style="margin-bottom: 15px;"></textarea>
	      
	      	<shared-add-files></shared-add-files>

	        <shared-add-hashtags></shared-add-hashtags>

		    <div class="text-right">
		      	<button style="margin: 1%;" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit</button>
		    </div>
	    </div>
	</form>
</div>

