<div class="col-xs-12 col-sm-12">
	
	<div ng-repeat="comment in comments | filter: {referredPost: post._id}" style="border-radius: 8px; background-color: #eeeeee; padding: 3%; margin: 3% 0;">

      	<h4 style="display: inline-block;"><a href="#" style="font-weight: bold; color: #333333;">{{comment.commentedBy}}</a></h4>
      	<p style="display: inline-block; color:gray">wrote on {{comment.dateCommented}}</p>

      	<h5 style="padding: 3% 0; white-space: pre-wrap;">{{comment.comment}}</h5>
	    	
    	<h4 ng-repeat="file in comment.files"><a href="#">filename.jpg</a></h4>

    	<div ng-repeat="hashtag in post.hashtags" style="background-color: #ccc; padding: 3px; margin-right: 2%; border-radius:8px; display: inline-block; cursor:pointer; border-style: outset;">
	    		<p style="margin: 2% 0">#{{hashtag}}</p>
	    	</div>

<!--       	<div style=" margin: 1% 0 2% 0; border-radius: 5px; padding:1%">
	    	<div style="display:inline-block; margin: 0.25%" ng-repeat="reaction in comment.reactions track by $index">
	    		<h4>{{reaction.count}}</h4>
	    		<button type="button" class="btn btn-primary" ng-click="setCommentReaction($index)">{{reaction.name}}</button>
	    	</div>
      	</div> -->

      	<div style=" margin-top: 2%; border-radius: 8px; background-color: #eeeeee; padding-top: 2%;">
      		<h5 style="display: inline; padding-right:3%;" ng-repeat="reaction in comment.reactions">
	              <span ng-show="reaction.name=='thumbsUp'"><i ng-click="setCommentReaction($index)" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span ng-show="reaction.name=='happy'"><i ng-click="setCommentReaction($index)" class="fa fa-smile-o fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span ng-show="reaction.name=='sad'"><i ng-click="setCommentReaction($index)" class="fa fa-frown-o fa-2x" aria-hidden="true" style="cursor: pointer;"></i>
	              </span>
	              <span style="margin-left: 1%;">{{reaction.count}} </span>
            </h5>
      	</div>

	</div>
</div>
