<div class="site-footer">
  <div class="container-fluid">
    <div class="site-footer__about">
      <div class="row" style="text-align:left; margin-right: 0;">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4 style="margin: 17px 15px 30px; font-weight: bold;"> STAY CONNECTED </h4>
            <div style="margin: 10px 20px 20px;">
               <h4><span class="glyphicon glyphicon-earphone"></span> (63)(049)536-0014</h4> 
               <h4><a href="mailto:pcaarrd@pcaarrd.dost.gov.ph" target="_blank" style="color: white;"><span class="glyphicon glyphicon-envelope" style="margin-right: 2%;"></span>pcaarrd@pcaarrd.dost.gov.ph</a> </h4>
               <h4><a href="http://www.pcaarrd.dost.gov.ph" target="_blank" style="color: white;"><span class="glyphicon glyphicon-globe" style="margin-right: 2%;"></span>http://www.pcaarrd.dost.gov.ph</a> </h4>
               <h4><a href="https://www.google.com/maps?q=DOST-PCAARRD,+Los+Baños,+Laguna" target="_blank" style="color: white;"><span class="glyphicon glyphicon-map-marker" style="margin-right: 2%;"></span>DOST-PCAARRD, Los Baños, Laguna</a> </h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4 style="margin: 17px 15px 30px; font-weight: bold;"> GET INVOLVED </h4>
            <div style="margin: 10px 20px 20px;">
               <h4><a href="https://www.facebook.com/PCAARRD" target="_blank" style="color: white;"><i class="fa fa-facebook-square" style="margin-right: 2%;" aria-hidden="true"></i>Like us on Facebook</a></h4> 
               <h4><a href="https://twitter.com/dostpcaarrd" target="_blank" style="color: white;"><i class="fa fa-twitter-square" style="margin-right: 2%;" aria-hidden="true"></i>Follow us on Twitter</a></h4> 
               <h4><a href="https://www.youtube.com/channel/UCcrb__kJo7NCYYlbjwAGVwA" target="_blank" style="color: white;"><i class="fa fa-youtube-square" style="margin-right: 2%;" aria-hidden="true"></i>Subscribe on our Channel</a></h4> 
               <h4><a href="https://plus.google.com/+DOSTPCAARRD" target="_blank" style="color: white;"><i class="fa fa-google-plus-square" style="margin-right: 2%;" aria-hidden="true"></i>Add us to your Circle</a></h4> 
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4 style="margin: 17px 15px 30px; font-weight: bold;"> ABOUT DPITC</h4>
            <div style="margin: 10px 20px 20px; text-align: justify;">
            <p>
              A One-Stop-Shop 'Convergence Hub' for inventors and technology users in the agriculture, aquatic, and natural resources sectors in the Philippines within every Juan's reach.
            </p>
            <a href="http://www.dost.gov.ph/" title="DOST"><img src="/layout/assets/images/dost-logo.png" style="height: 80px; margin-top: 20px; border-radius: 5px;"></a>
            <a href="http://www.pcaarrd.dost.gov.ph/home/portal/" title="PCAARRD"><img src="/layout/assets/images/pcaarrd-logo.png" style="height: 80px; margin-top: 20px; border-radius: 5px;"></a>
            <a href="http://www.uplb.edu.ph/" title="UPLB"><img src="/layout/assets/images/uplb-logo.png" style="height: 80px; margin-top: 20px; border-radius: 5px;"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer__copyright">
    <div class="container-fluid">
      <h5>© Copyright 2017. DOST-PCAARRD. All rights reserved.</h5>
    </div>
  </div>
</div>