<!-- first header -->
<nav class="navbar navbar-default" style="white-space:nowrap; background-color:white; margin: 0;">
  <div class="container-fluid" style="padding: 0;">
    <div style="opacity: 0.9;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- DOST-PCAARRD logo -->
       <img class="pcaarrd-pic" alt="PCAARRD" src="/layout/assets/images/dost-pcaarrd-white-logo.png"  width="100%" />
      </div>
      <!-- right side items -->
      <div class="collapse navbar-collapse" id="navbar" style="padding-top:0.5%; ">
        <ul class="nav navbar-nav navbar-right links" style="margin: 7.5px -15px;">
          <li><a href="https://dpitc.net/" style="color: black;">
            Home </a>
          </li>

          <li><a href="http://128.199.166.120:3000/" style="color: black;">
            FIESTA</a>
          </li>

          <li><a href="https://pcaarrd-km.herokuapp.com/#/" style="color: black;">
            Technology</a>
          </li>
          <li><a href="https://dpitc.net/community" style="color: black; font-weight: bold;">
            Community</a>
          </li>

          <li><a ng-href="https://dpitc.net/eresources/{{eResourcesAccess}}" style="color: black;">
            eResources</a>
          </li>

          <li><a href="#" style="color: black;">
            <i id="toggleIcon" class="fa fa-search"></i></a>
          </li>
        </ul>
      </div>
    </div>
    </div>
</nav>

<!-- second header -->
<div style="min-height:70px;">
  <!-- affixed header -->
  <nav class="navbar navbar-default" bs-affix data-offset-top= "103" style="background-color:white;">
    <div class="container-fluid" style="padding: 0;">
      <div style="background-color: #3062B7; padding: 0.2% 1%; color: white;">
        <div class="row">
          <!-- left side items, hidden in xs screen size -->
          <div class="col-xs-4 col-sm-6 col-md-6 hidden-xs" style="margin: 12px 0;">
             <h4 style="display: inline;"><a href="https://dpitc.net/" style="color: white; margin-right: 1%;">HOME</a> | <a ui-sref="communityHome" style="color: white; margin-left: 1%;">COMMUNITY</a> </h4>
          </div>
          <!-- right side items, hidden in xs screen size -->
          <div class="col-xs-8 col-sm-6 col-md-6 text-right hidden-xs" ng-style="!user.isLoggedIn && {'margin-top': '12px'}">
            <a ui-sref="groups" style="color: white; margin-right: 1%;">
               <h4 style="display: inline;"><i style="margin-right: 5px;" class="fa fa-list-ul" aria-hidden="true"> </i>Groups</h4></a>
            <h4 style="display: inline;">|</h4>
            <!-- appears when logged out -->
            <span ng-if="!user.isLoggedIn">
               <a ui-sref="register" style="color: white; margin: 0 1%;">
               <h4 style="display: inline;">Sign Up</h4></a>

               <h4 style="display: inline;">|</h4>

               <a ui-sref="login" style="color: white; margin-left: 1%;">
               <h4 style="display: inline;">Sign In</h4></a>
            </span>
            <!-- appears when logged in -->
            <span ng-if="user.isLoggedIn">
               <a ui-sref="user-profile({userID: user.currentUser._id})" style="color: white; margin: 0 1%;">
               <img src="{{user.currentUser.photo? user.currentUser.photo.path.split('/')[1]: '/users/assets/images/default-user-photo.png'}}" class="user-profile__pic" alt="Pic" style="width: 38px; border-radius: 8%;" /><h4 style="display: inline;">{{user.currentUser.name.first}}</h4></a>
            </span>
            <!-- dropdown button items -->
            <div class="btn-group" ng-if="user.isLoggedIn">
                <button title="Options" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 100%; margin-bottom: 3px;">
                <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
                </button>
                <ul id="user-option-dropdown" class="dropdown-menu dropdown-menu-right">

                  <li ng-if="user.isLoggedIn && user.currentUser.isAdmin"> <a ui-sref="dashboard"><i class="fa fa-bar-chart" aria-hidden="true"></i> Community Dashboard</a></li>
                  <li ng-if="user.isLoggedIn && user.currentUser.isAdmin"> <a ui-sref="manageGroupClassification"><i class="fa fa-database" aria-hidden="true"></i> Manage Group Classifications</a></li>
                  <li ng-if="user.isLoggedIn && user.currentUser.isAdmin"> <a ui-sref="manageHomepage"><i class="fa fa-home" aria-hidden="true"></i> Manage Homepage </a></li>

                  <li ng-if="user.isLoggedIn"> <a ui-sref="createGroup"><i class="fa fa-plus" aria-hidden="true"></i> Create Group</a></li>
                  <!-- <li ng-if="user.isLoggedIn"> <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li> -->
                  <li ng-if="user.isLoggedIn" role="separator" class="divider"></li>
                  <li ng-if="user.isLoggedIn" ng-click="user.logout()"> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
                </ul>
            </div>
          </div>
          <!-- dropdown containing all menu, visible only in xs screen size -->
          <div class="col-xs-4 col-sm-6 col-md-6 visible-xs" style="margin: 5px 0;">
             <button title="Menu" type="button" style="margin-bottom: 3px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu" style="left: 10px;">
                  <li><a href="https://dpitc.net/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                  <li><a ui-sref="communityHome"><i class="fa fa-rss" aria-hidden="true"></i> Community</a></li>
                  <li><a ui-sref="groups"><i class="fa fa-list-ul" aria-hidden="true"></i> Groups</a></li>
                  <li ng-if="!user.isLoggedIn"> <a ui-sref="register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a></li>
                  <li ng-if="!user.isLoggedIn"> <a ui-sref="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
                  <li ng-if="user.isLoggedIn">
                     <a ui-sref="user-profile({userID: user.currentUser._id})" style="margin:0;">
                     <img src="{{user.currentUser.photo? user.currentUser.photo.path.split('/')[1]: '/users/assets/images/default-user-photo.png'}}" class="user-profile__pic" alt="Pic" style="width: 20px; border-radius: 8%;" />{{user.currentUser.name.first}}</a>
                  </li>
                  <li ng-if="user.isLoggedIn && user.currentUser.isAdmin"> <a ui-sref="dashboard"><i class="fa fa-bar-chart" aria-hidden="true"></i> Community Dashboard</a></li>
                  <li ng-if="user.isLoggedIn && user.currentUser.isAdmin"> <a ui-sref="manageGroupClassification"><i class="fa fa-database" aria-hidden="true"></i> Manage Group Classifications</a></li>

                  <li ng-if="user.isLoggedIn"> <a ui-sref="createGroup"><i class="fa fa-plus" aria-hidden="true"></i> Create Group</a></li>
                  <!-- <li ng-if="user.isLoggedIn"> <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li> -->
                  <li ng-if="user.isLoggedIn" role="separator" class="divider"></li>
                  <li ng-if="user.isLoggedIn" ng-click="user.logout()"> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
              </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>
</div>
