<div class="form-group">
	<label>Technology Handle</label>
	<div class="input-group">
	  <span class="input-group-addon" >@</span>
	  <select class="form-control" ng-model="selectedTechnologyHandle" style="display: inline-block;">
	  	<option value="" selected>---Select the technology being referred to---</option>
	    <option value="beacons">beacons</option>
	    <option value="carrageenan">carrageenan</option>
	    <option value="biogroe">biogroe</option>
	    <option value="diagnosticKit">diagnostic kit</option>
	    <option value="milkfishFryCounter">milkfish fry counter</option>
	  </select>
	</div>
</div>