<div class="form-group">
  <label>Hashtag/s <span style="color:red;">*</span></label>

  <div class="input-group shared__addhashtags--body" ng-repeat="hashtag in hashtags track by $index">
    <span class="input-group-addon">#</span>
    <input type="text" disable-spaces class="form-control shared__addhashtags--field" placeholder="Enter a hashtag here" ng-model="hashtags[$index]" required /> 
    
    <button type="button" ng-hide="{{hashtags.length >= MAX_HASHTAG}}" class="btn btn-primary" ng-if="$last" ng-click="addHashtag()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

    <button type="button" ng-hide="{{hashtags.length <= MIN_HASHTAG}}" class="btn btn-danger" ng-if="$last" ng-click="removeHashtag()"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
  </div>
</div>