<div ng-if="selectedFiles.length > 0" style="padding: 4% 0">
	<h5 style="text-align:left;">File/s uploaded:</h5>
	<div ng-repeat="file in selectedFiles">
		<div ng-switch on ="file">
			<div ng-switch-when="(/\.(gif|jpg|jpeg|tiff|png|bmp)$/i).test(file)">
				<img style="width: 300px;" src="{{file}}" />
			</div>
			<div ng-switch-when="(/\.(mp4|webm|ogg)$/i).test(file)">
				<video width="320" height="240" controls>
				  <source src="{{file}}" type="video/{{file.split('.').pop()}}">
				</video> 
			</div>
			<div ng-switch-default>
				<h4><a href="{{file}}">{{file}}</a></h4>
			</div>
		</div>
	</div>
</div>	