<div class="col-sm-1 col-md-1 sidebar" style="text-align:center;">
  <div style="height: 100%; overflow-y: auto;">

    <ul class="nav nav-sidebar"> 
      <div class="dropdown-content text-left">
        <a href="#">Welcome to the Community</a>
        <a href="#">Publishing &amp; Gallery</a>
      </div>  
      <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i><h6>DISCUSSIONS</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
      <div class="dropdown-content text-left">
        <a href="#">Book Series</a>
        <a href="#">Information Series</a>
        <a href="#">Investment Brief</a>
        <a href="#">Komiks</a>
        <a href="#">PCAARRD Annual Reports</a>
        <a href="#">PCAARRD Farm Primer</a>
        <a href="#">PCAARRD Training Module</a>
        <a href="#">PHilippines Recommends</a>
        <a href="#">Profitability Analysis</a>
        <a href="#">Regional Farm Primer</a>
        <a href="#">Regional Publication</a>
      </div>
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-book fa-2x" aria-hidden="true"></i><h6>KNOWLEDGE</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar">
    <div class="dropdown-content text-left">
        <a href="#">Training 1</a>
        <a href="#">Training 2</a>
    </div> 
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i><h6>TRAINING</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <div class="dropdown-content text-left">
        <a href="#">Rice</a>
        <a href="#">Corn</a>
        <a ui-sref="oneGroup">Banana</a>
        <a href="#">Coconut</a>
        <a href="#">Swine</a>
        <a href="#">See all groups</a>
      </div> 
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-users fa-2x" aria-hidden="true"></i><h6>MY GROUPS</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-globe fa-2x" aria-hidden="true"></i><h6>DISCOVER GROUPS</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
      <div class="dropdown-content text-left">
        <a href="#">Sweet Potato FIESTA</a>
        <a href="#">SIPAG FIESTA</a>
        <a href="#">Rootcrop FIESTA</a>
        <a href="#">Pistang Kalabaw</a>
        <a href="#">Seaweed FIESTA</a>
        <a href="#">Sardines FIESTA</a>
      </div>
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i><h6>EVENTS</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
    <div class="dropdown-content text-left">
        <a href="#">PCAARRD KM Community News</a>
    </div> 
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i><h6>BLOGS</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
      <div class="dropdown-content text-left">
        <a href="#">Photos</a>
        <a href="#">Videos</a>
        <a href="#">Links</a>
      </div>
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i><h6>MULTIMEDIA RESOURCES</h6></a></li>
    </ul>

    <ul class="nav nav-sidebar"> 
      <div class="dropdown-content text-left">
        <a href="#">Alerts</a>
        <a href="#">FAQs</a>
        <a href="#">Guidelines</a>
        <a href="#">Memos and Issuances</a>
      </div>
    <li><a href="#" style="border-top: 1px solid #14a99d;"><i class="fa fa-life-ring fa-2x" aria-hidden="true"></i><h6>SUPPORT</h6></a></li>
    </ul>


  </div>
</div>
