.post-question {
	padding: 2%;

	&__title {
		padding: 2%;
		display: inline;
	}

	&__form {
		padding: 2%;
		text-align: left;
	}

	&__input-group{
		margin-bottom: 15px;
	}

	&__file.post-question {
		display: none;
	}

	&__hashtags {
		&--body {
			white-space: nowrap;
    		overflow-x: auto;
		}

		&--field.form-control {
			width: 83%;
		}
	}

	&__action {
		padding-top: 8%;
	}
}